.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.mainColor {
  color: $color-text-main;
}

.additionalColor {
  color: $color-text-additional;
}
