.xxl {
  font-size: 5rem;
}

.xl {
  font-size: 4rem;
}

.lg {
  font-size: 3rem;
}

.md {
  font-size: 2rem;
}

.sm {
  font-size: 1.6rem;
}

.xs {
  font-size: 1rem;
}

.base {
  color: var(--text);
}

.accent {
  color: var(--accent);
}

.error {
  color: var(--error);
}

.medium {
  font-weight: 600;
}
.bold {
  font-weight: bold;
}
