/* .xxxl {
  font-size: $space-3xl;
}

.xxl {
  font-size: $space-2xl;
}

.xl {
  font-size: $space-xl;
}

.lg {
  font-size: $space-lg;
}

.md {
  font-size: $space-md;
}

.sm {
  font-size: $space-sm;
}

.xs {
  font-size: $space-xl;
}

.xxs {
  font-size: $space-xxs;
}

.main {
  color: $color-text-main;
}

.additional {
  color: $color-text-additional;
}

.secondary {
  color: $color-text-secondary;
}

.primary {
  color: $color-primary;
}

.muted {
  color: $color-text-muted;
}

.faint {
  color: $color-text-faint;
}

.accent {
  color: $color-accent;
} 

.accent1 {
  color: $color-text-accent-1;
}

.error {
  color: $color-error-strong;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}
 */