.signInContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 60rem;
  height: 52rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2.6rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.linkContainer {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  color: $color-primary;
  font-size: $space-xs;
  font-weight: bold;
}

@media (max-width: $breakpoint-mobile) {
  .container {
    grid-template-columns: 1fr;
    width: 46rem;
  }
  .contentContainer {
    padding: 1rem;
  }
}
