.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $color-bg-additional;
  min-height: 100%;
  padding: 2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: $breakpoint-mobile) {
  .container {
    display: none;
  }
}
