.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-bg-additional;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  max-width: 25rem;
  margin-top: 20rem;
}

@media (max-width: $breakpoint-mobile) {
  .container {
    display: none;
  }
}
