.mainPageLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.splitScreenContainer {
  display: grid;
  width: 100%;
  min-height: 0;
  flex: 1;
  overflow: hidden;

  @media (orientation: landscape) {
    grid-template: 1fr / 1fr 1fr;
  }

  @media (orientation: portrait) {
    grid-template: .5fr .5fr / 1fr;
  }
}
