.mainPageLayout {
  display: flex;
  flex-direction: column;
  //  width: 100vw;
  height: 100vh;
  // overflow: hidden;
}

.splitScreenContainer {
  display: grid;
  // width: 100vw;
  min-height: 0;
  flex: 1;
  overflow: hidden;

  @media (orientation: landscape) {
    grid-template: 1fr / 1fr 1fr;
  }

  @media (orientation: portrait) {
    grid-template: 0.5fr 0.5fr / 1fr;
  }
}
