.default {
  min-width: max-content;
  width: 10rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: $space-xs;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

.default:hover {
  background-color: $color-hover;
}

.icon {
  border: none;
  cursor: pointer;
  font-size: $space-md;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.icon:hover {
  color: $color-hover;
}

.none {
  background: none;
  color: $color-text-main;
}

.primary {
  background-color: $color-primary;
  color: $color-text-additional;
}

.dark {
  background-color: $color-bg-additional;
  color: $color-text-additional;
}

.light {
  background-color: $color-bg-main;
  color: $color-text-main;
}
