.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.label {
  color: $color-text-secondary;
  font-size: $space-xxs;
  font-weight: bold;
  font-family: $font-code;
  text-transform: uppercase;
}

.default {
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  background: transparent;
  color: $color-text-main;
  border: 1px solid $color-border-strong;
  border-radius: 0.7rem;
  outline: none;
  font-size: $space-xs;
  transition: all 0.3s ease-in-out;
}

.default:hover {
  border-color: $color-hover;
}

.default:focus {
  border-color: $color-focus;
}

.error {
  border-color: $color-error-strong;
}

.errorText {
  min-height: $space-xxs;
  display: block;
}

.passwordWrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.eyeButton {
  position: absolute;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: $breakpoint-tablet) {
  .default {
    height: 3.5rem;
  }
}
