.toastNotification {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem 4rem;
  border-radius: .8rem;
  z-index: 10;
  background: $color-bg-main;
  animation: slideIn 0.25s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  max-width: 35rem;
  box-shadow:  $shadow-md;
}

.success { 
  border: .1rem solid $color-success;
}

.error {
  border: .1rem solid $color-error-strong;
}

.info { 
  border: .1rem solid $color-warning;
}

@keyframes slideIn {
  from {
    transform: translateY(2rem) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
