.default::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.default {
  min-height: 4rem;
  padding: $space-xxs $space-sm;
  background-color: transparent;
  color: $color-text-main;
  border: 1px solid $color-border-strong;
  border-radius: 0.9rem;
  font-size: $space-xs;
  line-height: 1;
  outline: none;
  transition: all 0.4s ease-in-out;
}
