.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: $color-bg-main;
  border-top: 1px solid $color-border;
  flex-shrink: 0;
}
