.signUpContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1%;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 3rem;
  padding: 2rem;
}

.linkContainer {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  color: $color-primary;
  font-size: $space-xs;
  font-weight: bold;
}

.title {
  text-align: center;
}

@media (max-width: $breakpoint-mobile) {
  .signUpContainer {
    grid-template-columns: 1fr;
  }
}
